@charset "utf-8";
/* CSS Document */
html {
	width: 100%;
	height: 100%;
	font-family: "Open Sans", sans-serif;
}
body {
	width: 100%;
	height: 100%;
	background-image: linear-gradient(  rgba(0, 0, 0, 0.75),  rgba(0, 0, 0, 0.75)  ),  url(cover.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position:center;
	padding: 0;
	margin: 0;
}
.header {
	position: absolute;
	margin-top: 35%;
	text-align: center;
	width: 100%;
	text-align:right;
}

.nav {
	margin: 32px;
}
.navitems {
	padding: 0px;
}
.navitems li {
	text-align:center;
	padding: 8px;
	display: inline;
}
a {
	text-decoration: none;
	color: white;
	text-transform: lowercase;
}
a:hover{
	color: gray;
}
.title {
	margin: 32px;
	min-width: 200px;
}
.title h1 {
	display: inline;
	font-size: 50px;
	color: white;
	text-transform: uppercase;
}
.social{
	margin: 32px;
}
.socialitems li{
	display: inline;
	padding: 8px;
}

/*mobile*/
@media only screen and (min-width: 0px) and (max-width: 640px){
	.header{
		margin-top: 16px;
		text-align: left;
	}
	.socialitems{
		padding:0;
	}
}
