@charset "utf-8";
/* CSS Document */
*{
	text-decoration:none;
}
html {
	width: 100%;
	height: 100%;
	font-family: "Open Sans", sans-serif;
}
body {
	padding: 0;
	margin: 0;
}
.header {
	width: 100%;
	background-image: linear-gradient(  rgba(0, 0, 0, 0.75),  rgba(0, 0, 0, 0.75)  ),  url(cover.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position:center;
	position:absolute;
	height: 100px;
}
.header a{
	color: white;
	text-decoration:none;
}
#mm{
	font-size: 36px;
	margin: 0;
	padding: auto;
	vertical-align:middle;
	padding-top: 30px;
	padding-left: 30px;
}
span{
	font-size:50px;
}
.title{
	display:inline-block;
	height: 100%;
}
.navlist{
}
.nav{
	display:inline-block;
	margin-left:15%;
}
.navlist li{
	display: inline;
	color: white;
	margin: 15px;
}
.social{
	float: right;
	height: 100%;
	margin-right: 30px;
	
}
.social ul{
	padding: 0;
	margin: 0;
	padding-top: 14px;
	padding-bottom: 14px;
	
}
.social ul li{
	display:block;
	padding: 5px;
	text-align:right;
}
.social ul li a{
	font-size: 12px;

}
/*mobile*/
@media only screen and (min-width: 0px) and (max-width: 640px){
.title{
	text-align:center;
	display: inline;
}
#mm{
	padding: 2px;
}
.nav{
	display: inline;
	text-align:center;
}
.navlist{
	padding:0;
}
.navlist li{
	margin: 2%;
}
.social{
	display: none;
}
}


